---
layout: default
---

<div class="flex flex-1 items-center">
  <article class="mx-auto max-w-screen-sm p-1 text-center">
    <div class="mb-0.5">
      <img src="{{ '/assets/img/profile-picture-1000x1000.webp' | relative_url }}" alt="Daniel Møller Kristensen" class="mx-auto h-9 rounded-full dark:grayscale">
    </div>
    <h1 class="mb-0.5 text-4xl font-medium tracking-tight text-red dark:text-green-light">Hi, I'm Daniel</h1>
    <p class="mb-0.75 text-lg">I'm a Backend Developer from Denmark. I specialize in Sitecore, Umbraco and .NET in general.</p>
    <ul class="mb-0.5 flex justify-center gap-0.75 text-3xl">
      {% for social in site.data.socials %}
        <li>
          <a href="{{ social.url }}" class="focus:bg-transparent hover:bg-transparent active:bg-transparent">
            {% include {{ social.name | downcase }}.svg class="h-1.5 fill-off-black dark:fill-off-white" %}
          </a>
        </li>
      {% endfor %}
    </ul>
  </article>
</div>
