---
---

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply text-blue-light
           visited:text-grey-light
           focus:bg-blue-light focus:text-white
           hover:bg-blue-light hover:text-white
           active:bg-red-light active:text-white
           dark:text-cyan
           dark:visited:text-grey
           dark:focus:bg-cyan dark:focus:text-black
           dark:hover:bg-cyan dark:hover:text-black
           dark:active:bg-yellow dark:active:text-black;
  }

  h1 {
    @apply my-4 text-4xl font-medium text-red dark:text-green-light;
  }

  p {
    @apply my-4;
  }
}
