---
import MainLayout from "../layouts/MainLayout.astro";
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";
import avatar from "../images/avatar.jpg";
import Social from "../components/Social.astro";

const socials = await getCollection("socials");
---

<MainLayout>
  <div class="my-auto">
    <article
      class="mx-auto mt-1 mb-2 max-w-(--breakpoint-sm) px-1 text-center md:mt-1.5 md:mb-2.5 md:px-2"
    >
      <div class="mb-0.5">
        <Picture
          src={avatar}
          alt="Daniel Møller Kristensen"
          width="300"
          densities={[1, 2, 3]}
          formats={["avif", "webp"]}
          fallbackFormat="jpg"
          class="mx-auto w-9 rounded-full"
          decoding="sync"
          loading="eager"
        />
      </div>
      <h1
        class="text-red dark:text-green-light mt-0 mb-0.5 text-4xl font-medium tracking-tight"
      >
        Hi, I’m Daniel
      </h1>
      <p class="mb-0.75 text-lg">
        I’m a backend developer from Denmark. I specialize in Sitecore, Umbraco,
        C#, and .NET.
      </p>
      <ul class="flex justify-center gap-0.75 text-3xl">
        {
          socials.map((social) => {
            return (
              <li>
                <Social name={social.data.name} url={social.data.url} />
              </li>
            );
          })
        }
      </ul>
    </article>
  </div>
</MainLayout>
