---
const { name, url } = Astro.props;
const { default: icon } = await import(
  `../images/icons/${Astro.props.name.toLowerCase()}.svg?raw`
);
---

<a href={url} aria-label={name}>
  <Fragment set:html={icon} />
</a>
