@import "tailwindcss";

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300 900;
  font-display: swap;
  src: url("/fonts/rubik-latin.woff2") format("woff2");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Rubik";
  font-style: italic;
  font-weight: 300 900;
  font-display: swap;
  src: url("/fonts/rubik-latin-italic.woff2") format("woff2");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Reddit Mono";
  font-style: normal;
  font-weight: 200 900;
  font-display: swap;
  src: url("/fonts/reddit-mono-latin.woff2") format("woff2");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}

@theme {
  --font-*: initial;
  --font-sans:
    Rubik, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono:
    "Reddit Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;

  --color-*: initial;

  --color-black: #000;
  --color-white: #fff;

  /* red-800 */
  --color-red: #991b1b;
  /* teal-300 */
  --color-cyan: #5eead4;
  /* fuchsia-700 */
  --color-purple: #a21caf;
  /* lime-700 */
  --color-green: #4d7c0f;
  /* indigo-800 */
  --color-blue: #3730a3;
  /* yellow-200 */
  --color-yellow: #fef08a;
  /* amber-600 */
  --color-orange: #d97706;
  /* yellow-900 */
  --color-brown: #713f12;
  /* red-400 */
  --color-red-light: #f87171;
  /* neutral-700 */
  --color-grey-dark: #404040;
  /* neutral-500 */
  --color-grey: #737373;
  /* lime-300 */
  --color-green-light: #bef264;
  /* indigo-400 */
  --color-blue-light: #818cf8;
  /* neutral-400 */
  --color-grey-light: #a3a3a3;

  /* neutral-800 */
  --color-off-black: #262626;
  /* neutral-100 */
  --color-off-white: #f5f5f5;

  --spacing: 1.75rem;

  --text-*: initial;
  --text-xs: 0.8125rem;
  --text-xs--line-height: 1.375rem;
  --text-sm: 0.9375rem;
  --text-sm--line-height: 1.5rem;
  --text-base: 1.125rem;
  --text-base--line-height: 1.75rem;
  --text-lg: 1.375rem;
  --text-lg--line-height: 1.75rem;
  --text-xl: 1.625rem;
  --text-xl--line-height: 2rem;
  --text-2xl: 1.9375rem;
  --text-2xl--line-height: 2.375rem;
  --text-3xl: 2.3125rem;
  --text-3xl--line-height: 2.75rem;
  --text-4xl: 2.8125rem;
  --text-4xl--line-height: 3.125rem;
  --text-5xl: 3.375rem;
  --text-5xl--line-height: 3.75rem;

  --leading-*: initial;
  --leading-sm-tight: 1.375rem;
  --leading-sm-normal: 1.5rem;
  --leading-sm-loose: 1.75rem;
}

@layer base {
  main {
    & > article,
    & > nav {
      & > :first-child {
        @apply mt-0;
      }

      & > :last-child {
        @apply mb-0;
      }
    }
  }

  h1,
  h2,
  h3 {
    @apply text-red dark:text-green-light mt-1.25 mb-0.5 font-medium tracking-tight;
  }

  h1 {
    @apply text-2xl md:text-3xl;
  }

  h2 {
    @apply text-lg md:text-xl;
  }

  h3 {
    @apply text-base md:text-lg;
  }

  a {
    @apply text-blue visited:text-purple hover:bg-blue focus:bg-blue active:bg-red dark:text-cyan dark:visited:text-grey-light dark:hover:bg-cyan dark:focus:bg-cyan dark:active:bg-yellow underline hover:text-white focus:text-white active:text-white dark:hover:text-black dark:focus:text-black dark:active:text-black;
  }

  figure,
  p {
    @apply mb-1;
  }
}

pre[class*="language-"] {
  @apply border-grey-light leading-sm-tight dark:border-grey max-w-[calc(100vw-(var(--spacing-1))*2)] overflow-auto rounded-md border bg-white px-0.75 py-0.5 text-sm text-black dark:bg-black dark:text-white;
}
