<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {% if page.title %}
        {{ page.title }} - {{ site.title }}
      {% else %}
        {{ site.title }}
      {% endif %}
    </title>
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  </head>
  <body class="flex min-h-screen flex-col bg-off-white text-base text-off-black dark:bg-off-black dark:text-off-white">
    <div>
      <header class="mx-auto flex max-w-screen-xl items-center justify-between p-1">
        <a href="{% link index.html %}" class="focus:bg-transparent hover:bg-transparent active:bg-transparent">
          {% include kodehalloej.svg path="h-1.5 fill-off-black dark:fill-off-white" dot="fill-red dark:fill-green-light" %}
        </a>
        <nav>
          <ul class="flex gap-1 font-medium">
            {% for i in (1..3) %}
              <li>
                <a href="/{{ i }}" class="text-off-black visited:text-off-black focus:text-white hover:text-white active:text-white dark:text-off-white dark:visited:text-off-white dark:focus:text-black dark:hover:text-black dark:active:text-black">
                  Page {{ i }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </nav>
      </header>
    </div>
    <main class="flex flex-1 flex-col">
      {{ content }}
    </main>
    <div>
      <footer class="mx-auto max-w-screen-xl p-1 text-center text-sm">
        <p>
          © {{ "now" | date: "%Y" }} Kodehalløj v/ Daniel Møller Kristensen
        </p>
      </footer>
    </div>
  </body>
</html>
