---
import "../styles/global.css";
import Logo from "../components/Logo.astro";
import NavigationItem from "../components/NavigationItem.astro";
import Contact from "../components/Contact.astro";

const title =
  (Astro.props.title ? Astro.props.title + " | " : "") + "Kodehalløj";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    {
      import.meta.env.MODE === "production" && (
        <link rel="sitemap" href="/sitemap-index.xml" />
      )
    }
    {
      import.meta.env.MODE === "production" && (
        <link
          rel="alternate"
          type="application/rss+xml"
          title={title}
          href={new URL("rss.xml", Astro.site)}
        />
      )
    }
  </head>
  <body
    class="bg-off-white text-off-black dark:bg-off-black dark:text-off-white flex min-h-screen flex-col text-base"
  >
    <div>
      <header
        class="mx-auto flex max-w-(--breakpoint-lg) items-center justify-between p-1"
      >
        <a href="/" aria-label="Home">
          <Logo />
        </a>
        <nav>
          <ul class="flex gap-1 font-medium">
            <li>
              <NavigationItem name="Blog" url="/blog" />
            </li>
          </ul>
        </nav>
      </header>
    </div>
    <main class="flex flex-1 flex-col">
      <slot />
    </main>
    <div>
      <footer
        class="mx-auto max-w-(--breakpoint-lg) justify-between p-1 text-center text-sm sm:flex sm:text-start"
      >
        <address class="not-italic">
          Kodehalløj v/ Daniel Møller Kristensen<br />
          Messingvej 6<br />
          8940 Randers SV
        </address>
        <address class="not-italic">
          <Contact
            type="Mail"
            value="mailto:e98d8482a982868d8c81888585868c83c78d82"
          />
          <br />
          <Contact type="Phone" value="tel:e9c2dddcd1d8dfdcdcd8dfd9" />
          <br />
          CVR: 34151962
        </address>
      </footer>
    </div>
  </body>
</html>
